.f1-race-card-wrapper {
  margin: 5px;
  border: 1px solid #e3e3e3;
  padding: 10px;
  background: #fff;
  color: #666
}

.f1-race-card-wrapper.is-world-champion {
  border-right: 5px solid rgb(179, 255, 0); /* fallback for browsers not supporting border-image */
  
}

.f1-race-card-wrapper > div {
  margin-bottom: 5px
}

.f1-race-card-race-name {
  font-size: 20px;
  font-family: 'Open Sans' sans-serif
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}